<span class="glyphicon glyphicon-map-marker" aria-hidden="true">
    <span>首页</span>
</span>
<div style="width: 100%;margin-top: 20px;">
    <div class="table">
        <div class="Modular">
            <div class="Modular-model">
                <div class="Modular-img">
                    <img src="__JS__/1.png" width="37px" />
                </div>
                <div class="Modular-text">
                    <div class="Modular-count">3</div>
                    <div class="Modular-text-name">模块总数</div>
                </div>
            </div>
        </div>
        <div class="Modular">
            <div class="Modular-model">
                <div class="Modular-img">
                    <img src="__JS__/2.png" width="37px" />
                </div>
                <div class="Modular-text">
                    <div class="Modular-count">{$data.count}</div>
                    <div class="Modular-text-name">用户总数</div>
                </div>
            </div>
        </div>
        <div class="Modular">
            <div class="Modular-model">
                <div class="Modular-img">
                    <img src="__JS__/3.png" width="37px" />
                </div>
                <div class="Modular-text">
                    <div class="Modular-count">{$data.newCount}</div>
                    <div class="Modular-text-name">今日新增会员</div>
                </div>
            </div>
        </div>
        <div class="Modular">
            <div class="Modular-model">
                <div class="Modular-img">
                    <img src="__JS__/4.png" width="37px" />
                </div>
                <div class="Modular-text">
                    <div class="Modular-count">{$token.last_time}</div>
                    <div class="Modular-text-name">登录时间</div>
                </div>
            </div>
        </div>
        <div class="Modular">
            <div class="Modular-model">
                <div class="Modular-img">
                    <img src="__JS__/5.png" width="37px" />
                </div>
                <div class="Modular-text">
                    <div class="Modular-count">{$data.picture}张</div>
                    <div class="Modular-text-name">上传图片</div>
                </div>
            </div>
        </div>
        <div class="Modular">
            <div class="Modular-model">
                <div class="Modular-img">
                    <img src="__JS__/6.png" width="37px" />
                </div>
                <div class="Modular-text">
                    <div class="Modular-count">{$data.article}篇</div>
                    <div class="Modular-text-name">发布文章</div>
                </div>
            </div>
        </div>
        <div class="Modular">
            <div class="Modular-model">
                <div class="Modular-img">
                    <img src="__JS__/7.png" width="37px" />
                </div>
                <div class="Modular-text">
                    <div class="Modular-count">{$data.notice}个</div>
                    <div class="Modular-text-name">公告管理</div>
                </div>
            </div>
        </div>
    </div>
</div>