{__NOLAYOUT__}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {include file="home/link"}
    <link rel="stylesheet" href="__CSS__/index/article.css">

</head>
<body>
{include file="home/nav"}
<div style="height: auto; min-height: 692px;">
    <div class="jumbotron" style="color:#fff;background: #39f;background-image: url('./static/css/jumbotron-background.png');">
        <div class="container">
            <div class="h3">
                <h2 class="title">
                    __NAME__
                    <label class="small">
                        1.0.0
                    </label>
                </h2>
            </div>
            <p class="abstract">
                __NAME__是一套轻量级通用后台，追求简单、高效、卓越。
            </p>
            <div class="action">
                <a class="btn btn-download" target="_blank" href="http://peng.9x6.org/tp/public/index.php/download">
                    <i class="glyphicon glyphicon-download-alt">
                    </i>
                    立即下载
                </a>
            </div>
        </div>
    </div>
</div>
{include file="home/bottom"}