<span class="glyphicon glyphicon-map-marker" aria-hidden="true" style="position: absolute;top: 23px;">
    <span>系统</span> /
    <span>公告管理</span> /
    <span>查询公告</span>
</span>
<div style="width: 100%;margin-top: 20px;">
    <a name="add" title="添加" class="btn edit-btn" href="__HTTP__/Notice/Add">添加</a>
    <a name="enable" title="禁用" class="btn enable-btn" onclick="getDisableAndEnabled(0)" >禁用</a>
    <a name="disable" title="启用" class="btn disable-btn" onclick="getDisableAndEnabled(1)" >启用</a>
    <a name="delete" title="删除" class="btn delete-btn" onclick="getNoticeByDelete()" >删除</a>
    <table border="1" width="100%" id="myTable" cellpadding="0" cellspacing="0" style="margin: 20px 0px;">
        <tr style="height: 45px;">
            <th width="5%">
                <input type="checkbox" id="ids" onclick="getCheckbox()" />
            </th>
            <th width="8%">ID</th>
            <th width="20%">公告标题</th>
            <th width="18%">创建时间</th>
            <th width="18%">更新时间</th>
            <th width="10%">状态</th>
            <th>操作</th>
        </tr>
        <?php foreach( $notice as $data) { ?>
            <tr style="height: 45px;">
                <th>
                    <input type="checkbox" name="ids[]" onclick="getCheckboxByIds({$data.id})" id="ids-{$data.id}" value="{$data.id}" />
                </th>
                <th>{$data.id}</th>
                <td>{$data.name}</td>
                <td>{$data.create_time}</td>
                <td>{$data.update_time}</td>
                <td>
                    <?php if($data["status"] == 1){ ?>
                        <span class="glyphicon glyphicon-ok" style="color: #2ca02c;"></span>
                    <?php } else { ?>
                        <span class="glyphicon glyphicon-remove" style="color: red;"></span>
                    <?php } ?>
                </td>
                <th>
                    <a name="edit" title="编辑" class="btn edit-btn" href="__HTTP__/Notice/edit?id={$data.id}">编辑</a>
                    <?php if($data["status"] == 1) { ?>
                        <a name="enable" title="禁用" class="btn enable-btn" id="operation{$data.id}"
                           href="javascript:DisableAndEnabled('{$data.id}')">禁用</a>
                    <?php } else { ?>
                        <a name="disable" title="启用" class="btn disable-btn" id="operation{$data.id}"
                           href="javascript:DisableAndEnabled('{$data.id}')">启用</a>
                    <?php } ?>
                    <a name="delete" title="删除" class="btn delete-btn" id="operation{$data.id}"
                       onclick="NoticeDelete('{$data.id}')">删除</a>
                </th>
            </tr>
        <?php } ?>
    </table>
	{$notice->render()}
</div>
<script type="text/javascript">
    //禁用或启用
    function DisableAndEnabled(id) {
        $.ajax({
            type:"post",
            url:"__HTTP__/Notice/DisableAndEnabled",
            data:{id:id},
            success:function (res) {
                if(res.errMsg == "令牌失效"){
                    Alert("登录状态失效,请重新登录",1);
                    setTimeout("login()",3000);
                    return;
                }
                Alert("操作成功",1);
                setTimeout('getNotice()',2000);
            }
        });
    }
    //批量禁用或启用
    function getDisableAndEnabled(status) {
        var text = "请选择启用项";
        var contText = "启用成功";
        if(status == 0){
            text = "请选择禁用项";
            contText = "禁用成功";
        }
        var aa = "";
        $("input[name='ids[]']:checkbox:checked").each(function(){
            aa+=$(this).val()+",";
        })
        if(aa == ""){
            layer.msg(text,
                {icon:2,time:2000,offset:'t',closeBtn:0,shift:4});
            return;
        }
        $("input[id='ids']").removeAttr('checked');
        $("input[name='ids[]']").removeAttr('checked');
        $.ajax({
            type:"post",
            url:"__HTTP__/Notice/getDisableAndEnabled",
            data:{
                ids:aa,
                status:status
            },
            success:function (res) {
                if(res.errMsg == "令牌失效"){
                    Alert("登录状态失效,请重新登录",1);
                    setTimeout("login()",3000);
                    return;
                }
                Alert(contText,1);
                setTimeout('getNotice()',2000);
            }
        });
    }
    //删除
    function NoticeDelete(id) {
        layer.confirm('请确认是否删除', {
            icon: 3,btn: ['确认','取消'] //按钮
        }, function() {
            Delete(id + ",");
        }, function () {
            layer.msg('取消操作', {icon: 0,time: 2000});
        });
    }
    //批量删除
    function getNoticeByDelete() {
        var aa = "";
        $("input[name='ids[]']:checkbox:checked").each(function(){
            aa+=$(this).val()+",";
        })
        if(aa == ""){
            layer.msg("请选择删除项",
                {icon:2,time:2000,offset:'t',closeBtn:0,shift:4});
            return;
        }
        $("input[id='ids']").removeAttr('checked');
        $("input[name='ids[]']").removeAttr('checked');
        layer.confirm('请确认是否删除', {
            icon: 3,btn: ['确认','取消'] //按钮
        }, function() {
            Delete(aa);
        },function () {
            layer.msg('取消操作', {icon: 0,time: 2000});
        });
    }
    function Delete(ids) {
        $.ajax({
            type:"post",
            url:"__HTTP__/Notice/Delete",
            data:{
                ids:ids
            },
            success:function (res) {
                if(res.errMsg == "令牌失效"){
                    Alert("登录状态失效,请重新登录",1);
                    setTimeout("login()",3000);
                    return;
                }
                Alert("删除成功",1);
                setTimeout('getNotice()',2000);
            }
        })
    }
    function getNotice() {
        window.location.href="__HTTP__/Notice";
    }
</script>