<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>安装过程</title>
    <link rel="shortcut icon" type="image/x-icon" href="__IMG__/logo.png">
    <link rel="stylesheet" href="__STATIC__/plugin/bootstrap-3.3.7-dist/css/bootstrap.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_503496_sgntl8o48mqb0529.css">
    <link rel="stylesheet" href="__CSS__/common/common.css">
    <link rel="stylesheet" href="__CSS__/install/index.css">
    <link rel="stylesheet" href="__JS__/layui/css/layui.css">
    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="__STATIC__/plugin/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://www.sucaihuo.com/Public/js/other/jquery.js"></script>
    <script type="text/javascript" src="__CSS-JS__/plupload/plupload.full.min.js"></script>
    <script type="text/javascript" src="http://www.sucaihuo.com/Public/js/sucaihuo.js"></script>
    <script src="__JS__/layui/layui.js" charset="utf-8"></script>
    <script src="__CSS-JS__layer/layer.js"></script>
    <script src="__CSS-JS__layer/extend/layer.ext.js"></script>
    <style type="text/css">
        .collapse ul li{
            margin-right: 26px;
        }
    </style>
</head>
<body>
<div class="header">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#example-navbar-collapse">
                    <span class="sr-only">切换导航</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="">
                    <img class="logo" src="__STATIC__/assets/logo.png">
                    <span class="nav-name" style="color: #cccccc;margin-left: 41px;">平行软件</span>
                </a>
            </div>
            <div class="collapse navbar-collapse"       id="example-navbar-collapse">
                <ul class="nav navbar-nav  navbar-right">
                    <li class="dropdown1">
                        <a href="javascript:;">安装协议</a>
                    </li>
                    <li class="dropdown2">
                        <a href="javascript:;">环境检测</a>
                    </li>
                    <li class="dropdown3">
                        <a href="javascript:;">参数设置</a>
                    </li>
                    <li class="dropdown4">
                        <a href="javascript:;">开始安装</a>
                    </li>
                    <li class="dropdown5">
                        <a href="javascript:;">完成安装</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
