<span class="glyphicon glyphicon-map-marker" aria-hidden="true">
    <span>系统</span> /
    <span>文章管理</span> /
    <span>文章类型</span>
</span>
<div style="width: 100%;margin-top: 20px;">
    <a name="add" title="添加" class="btn edit-btn" href="__HTTP__/Type/add">添加</a>
    <a name="delete" title="删除" class="btn delete-btn" onclick="getTypeDelete()">删除</a>
    <table border="1" width="100%" id="myTable" cellpadding="0" cellspacing="0" style="margin: 20px 0px;">
        <tr style="height: 45px;">
            <th width="3%">
                <input type="checkbox" id="ids" onclick="getCheckbox()" />
            </th>
            <th width="5%">ID</th>
            <th width="23%">文章类型</th>
            <th width="15%">类型logo</th>
            <th width="17%">创建时间</th>
            <th width="17%">更新时间</th>
            <th>操作</th>
        </tr>
        <?php foreach( $type as $data) { ?>
            <tr style="height: 45px;">
                <th>
                    <input type="checkbox" name="ids[]" onclick="getCheckboxByIds({$data.id})" id="ids-{$data.id}" value="{$data.id}" />
                </th>
                <th>{$data.id}</th>
                <td>{$data.title}</td>
                <th><img src="__IMG__{$data.upload.path}" style="max-width: 200px;max-height: 40px;"
                         data-target="#modal" data-toggle="modal" onclick="getPicture('{$data.logo}')" /></th>
                <td>{$data.create_time}</td>
                <td>{$data.update_time}</td>
                <th>
                    <a name="edit" title="编辑" class="btn edit-btn" href="__HTTP__/Type/typeEdit?id={$data.id}">编辑</a>
                    <a name="delete" title="删除" class="btn delete-btn" id="operation{$data.id}"
                       onclick="TypeByDelete(this,{$data.id})">删除</a>
                    <a class="btn enable-btn"  style="max-width: 200px;max-height: 40px;"
                            data-target="#modal" data-toggle="modal" onclick="getCopyUrl('{$data.id}')" >URL</a>
                </th>
            </tr>
        <?php } ?>
    </table>
    {$type->render()}
</div>
<script type="text/javascript">
    function TypeByDelete(r,id) {
        layer.confirm('请确认是否删除', {
            icon: 3,btn: ['确认','取消'] //按钮
        }, function(){
            var i=r.parentNode.parentNode.rowIndex;
            document.getElementById('myTable').deleteRow(i);
            Delete(id+",");
        }, function () {
            layer.msg('取消操作', {icon: 0,time: 2000});
        });
    }
    function getTypeDelete() {
        var flag = false;
        $("input[name='ids[]']:checkbox:checked").each(function(){
            flag = true;
        });
        if(!flag){
            layer.msg("请选择图片删除项",
                {icon:2,time:2000,offset:'t',closeBtn:0,shift:4});
            return;
        }
        layer.confirm('请确认是否删除',{
            icon:3,btn:["确认","取消"]
        },function () {
            var aa = "";
            $("input[name='ids[]']:checkbox:checked").each(function(){
                aa+=$(this).val()+","
                var i=this.parentNode.parentNode.rowIndex;
                document.getElementById('myTable').deleteRow(i);
            })
            Delete(aa);
        }, function () {
            layer.msg('取消操作', {icon: 0,time: 2000});
        });
        $("input[id='ids']").removeAttr('checked');
    }
    function Delete(ids) {
        $.ajax({
            type:"post",
            url:"__HTTP__/Type/typeDelete",
            data:{
                "ids":ids
            },
            success:function (res) {
                layer.msg("图片删除成功",
                    {icon:1,time:2000,offset:'t',closeBtn:0,shift:4});
				setTimeout('Type()',300);
            }
        })
    }
	function Type() {
        var table =document.getElementById("myTable");
        if(table.rows.length == 1){
            window.location.href="__HTTP__/Type";
        }
    }
    function getCopyUrl(id) {
        document.getElementById("modal_yuan").innerHTML=
            '<textarea cols="80" rows="2" id="model_url" style="resize: none;border: none;" readonly="true">__HTTP__/?s=index/article_list/index/id/'
            +id+'.html</textarea><br/><br/><input type="button"  class="btn enable-btn" onClick="copyUrl2()" value="点击复制代码" />';
    }
    function copyUrl2()
    {
        var Url2=document.getElementById("model_url");
        Url2.select(); // 选择对象
        document.execCommand("Copy"); // 执行浏览器复制命令
        Alert("已复制好，可贴粘。",1);
    }
</script>