<input type="hidden" id="error" value="{$error}" />

<script type="text/javascript">
   function PageError() {
        var error = document.getElementById("error").value;
        if(error != ""){
            if(error == "普通管理员"){
                ERRORAlert("您没有操作权限");
                setTimeout('UserAdmin()',3000);
                return;
            }
            ERRORAlert(error);
            setTimeout('User()',3000);
        }
   }
   function User() {
       window.location.href="__HTTP__/User";
   }
   function UserAdmin() {
       window.location.href="__HTTP__/Admin";
   }
</script>